.semiBold{
    font-size: 25px;
}
.main-heading{
    font-size: 28px;
}
.info{
    font-size: 20px;
}
.sec1{
    justify-content: center;
    width: 100%;
    padding-left: 0;
}
.spacing{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1{
    padding: 40px 10px;
}
.card2{
    padding: 40px 10px;
}
.card3{
    padding: 40px 10px;
}
.sec3-inner{
    width: 100%;
}
.cards{
    margin: 30px 5px;
}
.card-sec2{
    flex-direction: column;
}
